@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

* {
  font-family: "Quicksand";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #4f2b38;
}

.container {
  background: rgb(29, 26, 57);
  background: linear-gradient(180deg, #1d1016 0%, #4f2b38 100%);
  padding: 30px;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a img {
  display: flex;
  height: 50px;
  width: auto;
}

.links ul {
  display: flex;
  list-style-type: none;
  flex-direction: center;
  gap: 5px;
}

.links ul li a {
  text-decoration: none;
  padding: 10px;
  color: #fcf3e3;
  transition: all 0.3s;
}

.links ul li a:hover {
  transform: scale(1.2);
  color: #a51a41;
}

.links i {
  font-size: 36px;
  display: none;
}

#toggle-menu {
  display: none;
}
